<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类 | 管理后台</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">

</head>
<body>

<div th:replace="admin/fragments::sidebar"></div>
<div class="pusher">
    <nav th:replace="admin/fragments::nav"></nav>

    <button class="ui secondary big icon button" id="toggle-sidebar">
        <i class="sidebar icon"></i>
        <span id="show-menu" style="display: none">菜单</span>
    </button>
    <!-- Site content !-->
    <div  class="m-container m-padded-tb-big">
        <div class="ui container">
            <h3 class="ui horizontal divider header"><i class="folder outline icon"></i> 分类 - [[${categories.total}]]</h3>

            <table class="ui celled table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>添加时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category:${categories.records}">
                    <input type="hidden" th:value="${category.categoryId}">
                    <td th:text="${category.categoryName}">刻意练习清单</td>
                    <td th:text="${#dates.format(category.createTime,'yyyy-MM-dd HH:mm')}">2018-5-5</td>
                    <td th:text="${#dates.format(category.updateTime,'yyyy-MM-dd HH:mm')}">2018-5-5</td>
                    <td>
                        <button class="ui mini teal basic button edit-modal-btn">编辑</button>
                        <button class="ui mini red basic button del-modal-btn">删除</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5">
                        <div class="ui mini pagination menu">
                            <a class=" item" th:href="@{/admin/category(pageNum=${categories.current<=1}?${1}:${(categories.current)-1})}">上一页</a>
                            <a class=" item" th:href="@{/admin/category(pageNum=${categories.current>=categories.pages}?${categories.pages}:${(categories.current)+1})}">下一页</a>
                        </div>

                        <button id="add-modal-btn" class="ui mini right floated teal basic button">新增</button>

                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div id="add-modal" class="ui tiny  modal">
        <div class="header">
            新增分类
        </div>

        <div class="content">
            <form id="add-form" class="ui form">
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">分类名</div>
                        <input type="text" placeholder="请输入" id="categoryName" name="categoryName">
                    </div>
                </div>

            </form>
        </div>

        <div class="actions">
            <div class="ui button cancel">取消</div>
            <div class="ui submit ok button" id="add-btn">提交</div>
        </div>
    </div>
    <div id="edit-modal" class="ui tiny  modal">
        <div class="header">
            修改分类
        </div>
        <div class="content">
            <form id="edit-form" class="ui form">
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">分类名</div>
                        <input type="text" placeholder="请输入" id="categoryNameE" name="categoryName">
                    </div>
                </div>

            </form>
        </div>

        <div class="actions">
            <div class="ui button cancel">取消</div>
            <div class="ui submit ok button">提交</div>
        </div>
    </div>
    <div id="del-modal"class="ui mini basic modal">
        <div class="ui icon header red">
            <i class="trash alternate outline icon"></i>
            该操作不可撤销
        </div>
        <div class="content">
            <p>你确定要删除该分类？</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--中间内容-->

</div>



<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script th:src="@{/js/admin.js}"></script>

<script>
    $("#add-modal-btn").click(function () {
        $('#add-modal').modal({
            onHidden: $("#categoryName").val("").css("border","1px solid rgba(34,36,38,.15)"),
            onApprove: function () {
                var categoryName = $("#categoryName").val();
                if (!categoryName){
                    $("#categoryName").css("border","1px solid red").attr("placeholder","不能输入空名称");
                    return false;
                }else {
                    $.ajax({
                        url: '/admin/category',
                        type:"POST",
                        contentType:"application/json;charset=utf-8",
                        data:categoryName,
                        success:function(data){
                            if (data == 200) {
                                window.location.href="/admin/category";
                            }else {
                                alert("增加分类出现错误")
                            }
                            $('#add-modal')
                                .modal('hide')
                            ;
                        }
                    })
                }
            }
        })
            .modal('show')
        ;
    });


    $(".edit-modal-btn").click(function () {
        var categoryName = $(this).parent().prev().prev().prev().text();
        var categoryId = $(this).parent().prev().prev().prev().prev().val();

        $('#edit-modal').modal({
            onShow: function () {
                $("#categoryNameE").val(categoryName)
            },
            onApprove: function () {
                var categoryName = $("#categoryNameE").val();
                if (!categoryName){
                    $("#categoryNameE").css("border","1px solid red").attr("placeholder","不能输入空名称");
                    return false;
                }else if (!categoryId){
                    $("#categoryNameE").css("border","1px solid red").attr("placeholder","出现未知错误");
                    return false
                } else {
                    $.ajax({
                        url: '/admin/category/'+categoryId,
                        type:"PUT",
                        contentType:"application/json;charset=utf-8",
                        data:categoryName,
                        success:function(data){
                            if (data == 200) {
                                window.location.href="/admin/category";
                            }else {
                                alert("修改出现错误")
                            }
                            $('#edit-modal')
                                .modal('hide')
                            ;
                        }
                    })
                }
            },
            onHidden: $("#categoryNameE").val("").css("border","1px solid rgba(34,36,38,.15)"),

        })
            .modal('show')
        ;
    });


    $(".del-modal-btn").click(function () {
        var categoryId = $(this).parent().prev().prev().prev().prev().val();
        $("#del-modal").modal({
            onApprove : function() {
                $.ajax({
                    url: '/admin/category/'+categoryId,
                    type:"DELETE",
                    contentType:"application/json;charset=utf-8",
                    success:function(data){
                        if (data == 200) {
                            window.location.href="/admin/category";
                        }else {
                            alert("删除出现错误")
                        }
                        $('#del-modal')
                            .modal('hide')
                        ;
                    }
                })
            }
        }).modal('show')
    })
</script>
</body>
</html>