<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息 | 后台管理</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
<div th:replace="admin/fragments::sidebar"></div>
<div class="pusher">

    <nav th:replace="admin/fragments::nav"></nav>
    <button class="ui secondary big icon button" id="toggle-sidebar">
        <i class="sidebar icon"></i>
        <span id="show-menu" style="display: none">菜单</span>
    </button>
    <!-- Site content !-->
    <div  class="m-container m-padded-tb-big ">
        <div class="ui stackable two column grid container">
            <div class="column">
                <h3 class="ui horizontal divider header"><i class="user outline icon"></i>个人信息</h3>
                <form id="info-form" class="ui segment form" action="/admin/user" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <div class="inline field" style="display: flex;align-items: flex-end;">
                        <img class="ui avatar left spaced floated tiny image  m-margin-lr" th:src="${user.avatar}">
                        <input type="file" name="avatar-img" placeholder="头像" accept="image/png, image/jpeg">
                    </div>
                    <div class="field">
                        <input type="text" name="nickname" placeholder="昵称" th:value="${user.nickname}">
                    </div>
                    <div class="field">
                        <textarea rows="15" type="text" name="introduce" placeholder="关于我,支持markdown格式" th:text="${user.introduce}"></textarea>
                    </div>
                    <div class="filed">
                        <button id="sava-info-btn" class="ui positive right floated basic button">保存</button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
            <div class="column">
                <h3 class="ui horizontal divider header"><i class="key icon"></i>修改密码</h3>
                <div class="ui error message" th:if="${success == false}">
                    <div class="header">输入错误</div>
                    <p>你输入的密码有误,请重新输入</p>
                </div>
                <div class="ui success message" th:if="${success}">
                    <div class="header">修改完成</div>
                    <p>你的密码已经重置</p>
                </div>
                <form id="password-form" class="ui segment form" action="/admin/user" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui teal label">
                                原密码
                            </div>
                            <input type="text" name="oldPassword" placeholder="请输入原密码">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui red label">
                                新密码
                            </div>
                            <input type="text" name="newPassword" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="field">
                        <button id="update-pw-btn" class="ui negative  right floated basic button">修改</button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
<script>
    $("#sava-info-btn").click(function () {
        $("#info-form").submit()
    });

    $("#update-pw-btn").click(function () {
        $("#password-form").submit()
    })
</script>
</html>