<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>友链 | 管理后台</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">

</head>
<body>

<div th:replace="admin/fragments::sidebar"></div>
<div class="pusher">
    <nav th:replace="admin/fragments::nav"></nav>

    <button class="ui secondary big icon button" id="toggle-sidebar">
        <i class="sidebar icon"></i>
        <span id="show-menu" style="display: none">菜单</span>
    </button>
    <!-- Site content !-->
    <div  class="m-container m-padded-tb-big">
        <div class="ui container">
            <h3 class="ui horizontal divider header"><i class="linkify icon"></i> 友链 - [[${links.total}]]</h3>

            <table class="ui celled table">
                <thead>
                <tr>

                    <th>名称</th>
                    <th>地址</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="link:${links.records}">
                    <!--/*@thymesVar id="link" type="cn.zpeace.blog.pojo.Link"*/-->
                    <input type="hidden" th:value="${link.linkId}">
                    <td th:text="${link.linkName}">刻意练习清单</td>
                    <td th:text="${link.linkUrl}">www.baidu.com</td>
                    <td th:text="${#dates.format(link.createTime,'yyyy-MM-dd HH:mm')}">2018-5-5</td>
                    <td>
                        <button class="ui mini teal basic button edit-link-modal-btn">编辑</button>
                        <button class="ui mini red basic button del-link-modal-btn">删除</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="ui mini pagination menu">
                            <!--/*@thymesVar id="links" type="com.baomidou.mybatisplus.core.metadata.IPage"*/-->
                            <a class=" item" th:href="@{/admin/link(pageNum=${links.current<=1}?${1}:${(links.current)-1})}">上一页</a>
                            <a class=" item" th:href="@{/admin/link(pageNum=${links.current>=links.pages}?${links.pages}:${(links.current)+1})}">下一页</a>
                        </div>

                        <button id="add-link-modal-btn" class="ui mini right floated teal basic button">新增</button>

                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div id="add-link-modal" class="ui tiny  modal">
        <div class="header">
            新增友链
        </div>

        <div class="content">
            <form id="add-form" class="ui form">
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">网站名称</div>
                        <input type="text" placeholder="请输入" id="linkName" name="linkName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">网站链接</div>
                        <input type="text" placeholder="请输入" id="linkUrl" name="linkUrl">
                    </div>
                </div>

            </form>
        </div>

        <div class="actions">
            <div class="ui button cancel">取消</div>
            <div class="ui submit ok button" id="add-btn">提交</div>
        </div>
    </div>
    <div id="edit-link-modal" class="ui tiny  modal">
        <div class="header">
            修改友链
        </div>
        <div class="content">
            <form id="edit-form" class="ui form">
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">网站名称</div>
                        <input type="text" placeholder="请输入" id="linkNameE" name="linkName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled fluid input">
                        <div class="ui label">网站链接</div>
                        <input type="text" placeholder="请输入" id="linkUrlE" name="linkUrlE">
                    </div>
                </div>
            </form>
        </div>

        <div class="actions">
            <div class="ui button cancel">取消</div>
            <div class="ui submit ok button">提交</div>
        </div>
    </div>
    <div id="del-link-modal"class="ui mini basic modal">
        <div class="ui icon header red">
            <i class="trash alternate outline icon"></i>
            该操作不可撤销
        </div>
        <div class="content">
            <p>是否确定删除？</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <!--中间内容-->

</div>



<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script th:src="@{/js/admin.js}"></script>

<script>


    $("#add-link-modal-btn").click(function () {
        $('#add-link-modal').modal({
            onHidden: $("#linkName").val("").css("border","1px solid rgba(34,36,38,.15)"),
            onApprove: function () {
                var linkName = $("#linkName").val();
                var linkUrl = $("#linkUrl").val();
                var data = {linkName:linkName,linkUrl:linkUrl};
                if (!linkName){
                    $("#linkName").css("border","1px solid red").attr("placeholder","不能输入空名称");
                    return false;
                }else if (!linkUrl){
                    $("#linkUrl").css("border","1px solid red").attr("placeholder","不能输入空链接");
                    return false
                }else {
                    $.ajax({
                        url: '/admin/link',
                        type:"POST",
                        contentType:"application/json;charset=utf-8",
                        data:JSON.stringify(data),
                        success:function(data){
                            if (data == 200){
                                window.location.href="/admin/link";
                            } else {
                                alert("添加出错")
                            }
                            $('#add-link-modal')
                                .modal('hide')
                            ;
                        }
                    })
                }
            }
        })
            .modal('show')
        ;
    });


    $(".edit-link-modal-btn").click(function () {
        var linkName = $(this).parent().prev().prev().prev().text();
        var linkUrl = $(this).parent().prev().prev().text();
        var linkId = $(this).parent().prev().prev().prev().prev().val();

        $('#edit-link-modal').modal({
            onShow: function () {
                $("#linkNameE").val(linkName);
                $("#linkUrlE").val(linkUrl)
            },
            onApprove: function () {
                var linkName = $("#linkNameE").val();
                var linkUrl = $("#linkUrlE").val();
                var data = {linkName:linkName,linkId:linkId,linkUrl:linkUrl};
                if (!linkName){
                    $("#linkNameE").css("border","1px solid red").attr("placeholder","不能输入空名称");
                    return false;
                }else if (!linkUrl){
                    $("#linkUrlE").css("border","1px solid red").attr("placeholder","不能输入空链接");
                    return false
                } else {
                    $.ajax({
                        url: '/admin/link/'+linkId,
                        type:"PUT",
                        contentType:"application/json;charset=utf-8",
                        data:JSON.stringify(data),
                        success:function(data){
                            if (data == 200){
                                window.location.href="/admin/link";
                            } else {
                                alert("修改出错")
                            }
                            $('#edit-link-modal')
                                .modal('hide')
                            ;
                        }
                    })
                }
            },
            onHidden: $("#linkNameE").val("").css("border","1px solid rgba(34,36,38,.15)"),

        })
            .modal('show')
        ;
    });


    $(".del-link-modal-btn").click(function () {
        var linkId = $(this).parent().prev().prev().prev().prev().val();
        $("#del-link-modal").modal({
            onApprove : function() {
                $.ajax({
                    url: '/admin/link/'+linkId,
                    type:"DELETE",
                    contentType:"application/json;charset=utf-8",
                    success:function(data){
                        if (data == 200){
                            window.location.href="/admin/link";
                        } else {
                            alert("删除出错")
                        }
                        $('#del-link-modal')
                            .modal('hide')
                        ;
                    }
                })
            }
        }).modal('show')
    })


</script>
</body>
</html>