<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="标签项">
    <meta name="keywords" th:content="${tag.tagName}">
    <meta name="author" content="Zpeace">
    <title>Tag: [[${tag.tagName}]] | Zpeace</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@latest/css/font-awesome.min.css">
    <link rel="dns-prefetch" href="https://cdn.staticfile.org">
    <link rel="dns-prefetch" href="https://cdn.bootcss.com">
    <link rel="dns-prefetch" href="https://creativecommons.org">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/label.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=66476416" charset="UTF-8"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150648840-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150648840-1');
    </script>
</head>
<body>

<i class="fa fa-arrow-right" id="toggle-sidebar" aria-hidden="true"></i>
<div th:replace="fragments::#sidebar"></div>
<nav class="no-bg" id="nav" th:replace="fragments::#nav"></nav>


<div id="content-outer">
    <div class="layout" id="content-inner">
        <div id="tag">
            <div class="article-sort-title">Tag - [[${tag.tagName}]]</div>
            <div class="article-sort">
                <div class="article-sort-item" th:each="blog:${blogs.records}">
                    <time class="article-sort-item__time" th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2019-09-25</time>
                    <a class="article-sort-item__title" th:href="@{'/article/' + ${blog.blogId}}" th:text="${blog.blogTitle}">test</a>
                </div>
            </div>
        </div>

        <div class="ui mini circular labels" th:if="${blogs.pages > 1}">
            <a th:each="page:${#numbers.sequence(1,blogs.pages)}"
               th:href="@{'/tag/'+${tag.tagId}(pageNum = ${page})}"
               th:class="${page == blogs.current}?'ui teal label':'ui label'" th:text="${page}">
            </a>


        </div>

    </div>
</div>


<footer th:replace="fragments::#footer-bg"></footer>
<i class="fa fa-arrow-up" id="go-up" aria-hidden="true"></i>


<script src="https://cdn.jsdelivr.net/npm/animejs@latest/anime.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@latest/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/velocity-animate@latest/velocity.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/velocity-ui-pack@latest/velocity.ui.min.js"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/fancybox.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/copy.js}"></script>
<script th:src="@{/js/fireworks.js}"></script>
<script th:src="@{/js/transition.js}"></script>
<script th:src="@{/js/scroll.js}"></script>
<script th:src="@{/js/head.js}"></script>
<script>if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    $('#nav').addClass('is-mobile');
    $('footer').addClass('is-mobile')
}</script>
</body>
</html>